body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #151515;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.chat-wrapper {
	width: 500%;
	max-width: 1500px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chat-container {
	flex: 1;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	overflow-y: scroll;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.chat-message {
	background: linear-gradient(135deg, #b7f0e7, #e0f7fa);
	border-radius: 15px;
	padding: 10px 15px;
	margin-bottom: 10px;
	max-width: 100%;
	word-wrap: break-word;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	animation: popIn 0.3s ease forwards;
}

#roomInput {
	width: 300px;
	padding: 15px 20px;
	margin-top: 15px;
	border-radius: 9999px;
	border: 2px solid #007bff;
	outline: none;
	font-size: 16px;
	text-align: center;
	background: white;
	transition: 0.3s;
}

#roomInput:focus {
	border-color: #0056b3;
	background: #e6f0ff;
}

.popular-rooms {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
}

.popular-rooms a {
	text-decoration: none;
}

.popular-room-button {
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #007bff;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	text-align: center;
	display: inline-block;
}

.popular-room-button:hover {
	background-color: #0056b3;
}

.chat-container::-webkit-scrollbar {
	width: 8px;
}

.chat-container::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.2);
}

.chat-container::-webkit-scrollbar-thumb {
	background-color: rgba(0, 128, 128, 0.6);
	border-radius: 10px;
}

@keyframes popIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
